///////////////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
    @media screen and (max-width: 206px) {
        height: 2rem;
        margin: 0;
    }
}

///////////////////////////////////////////////////////
// USER NAVIGATION

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    flex: 0 0 40%;

    @media screen and (max-width: 1200px) {
        flex: 0 0 auto;
    }

    @media screen and (max-width: 992px) {
        //order: -1;
        flex: 0 0 100%;
        justify-content: space-evenly;
        padding: 1rem 0;
    }

    //Navbar collapse
    @media screen and (max-width: 768px) {
        display: block;
        padding-top: 2rem;
        padding-bottom: 0;
    }

    & > * {
        padding: 0 2rem;
        cursor: pointer;    //cambia el cursor por una de seleccion
        height: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1200px) {
            //padding: 1rem;
        }

        @media screen and (max-width: 768px) {
            justify-content: center;
        }

        &:hover {
            background-color: $color-gray-light-2;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-primary-green;
        text-decoration: none;
        text-transform: uppercase;
    }
}

///////////////////////////////////////////////////////
// USER ICONS

.user__icons {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-evenly;

    //Temporal FIX!!
    //flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        justify-content: space-evenly;
        padding: 2rem;
    }

    @media screen and (max-width: 992px) {
        flex: 1;
    }

    &-item {
        //padding: 0 2rem;
        @media screen and (min-width: 992px) {
            //padding: 0 1rem;
        }
        &-icon {
            height: 2.25rem;
            width: 2.25rem;
            fill: $color-primary-green;
    
            &-twitter:hover {
                fill: $color-primary-blue;
            }
            &-tiktok:hover {
                fill: $color-primary-black;
            }
            &-instagram:hover {
                fill: #833AB4;
            }
            &-youtube:hover {
                fill: red;
            }
        }
    }
}

///////////////////////////////////////////////////////
// SEARCH
.search {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    
    &__form {
        @media screen and (max-width: 768px) {
            display: flex;
            flex: 0 0 40%;
            justify-content: center;
        }
    }

    &__input {
        //width: inherit;
        background-color: darken($color-gray-light-3, 7%);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.25rem;
        transition: all .2s;

        &:focus {
            outline: none;
            width: 100%;
            background-color: darken($color-gray-light-3,4%);
        }
    }

    &__input:focus + &__button {
        background-color: darken($color-gray-light-3,4%);
    }

    &__button {
        border: none;
        background-color: darken($color-gray-light-3, 7%);
        padding: 0;
        transition: all .2s;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }
}




///////////////////////////////////////////////////////
// BLOGS RECIENTES

.image-container {
    min-height: 30rem;  //Permite que en el media query se adapte bien
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    &-first {
        height: 100%;
        flex: 0 0 60%;
        border: 1px solid $color-gray-dark-1;
        position: relative;
    }

    &-second {
        height: 100%;
        flex: 1;
        border: 1px solid $color-gray-dark-1;
        position: relative;
        
        @media screen and (max-width: 768px) {
            margin-top: 1rem;
        }
    }

    &__info {
        position: absolute;
        bottom: 0;
        background: rgb(0,0,0);
        background: rgba(0,0,0,0.5);
        color: #fff;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-tags {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            align-self: stretch;
            flex-wrap: wrap;

            &-item{
                padding: 0 2rem;
                background-color: $color-primary-blue;
                border-radius: 10px;
                cursor: pointer;
                color: #fff;
                margin-top: .5rem;
                
                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &:first-child {
                    margin-left: auto;
                }

                &:last-child {
                    margin-right: auto;
                }
            }
        }

        &-title {
            font-family: "Poppins",sans-serif;
            font-size: 1.5rem;
            margin: 0 auto;
            margin-top: 5px;
            padding-left: 2rem;
        }

        &__details {
            font-family: "Poppins", sans-serif;
            margin: 0 auto;
        }

        &-author {
            font-size: 1rem;
        }

        &-date {
            font-size: .6rem;
        }
    }
}

.imageCard {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
    ///////////////////////////////////////////////////////
    // Tags y cards
    .card-image {
        position: relative;
        min-height: 15rem;

        @media screen and (max-width: 768px) {
            max-height: 34rem;
        }

        &__tags {
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            align-content: flex-end;

            &-item {
                margin-right: 1rem;
            }
        }

        &__img {
            height: 100%;
        }
    }

///////////////////////////////////////////////////////
// BLOGS RECIENTES





////////////////////////////////////////
// ADMIN

////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    //margin-top: 3.5rem;
    margin: 0;
    padding: 0;
    margin-bottom: auto;
    margin-top: 2rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-primary-green;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: lighten($color-primary-green, 5%);
    }

    &__link:link,
    &__link:visited {
        color: $color-gray-light-1;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        //fill: currentColor;
        stroke: currentColor;
        stroke-width: 2px;
        &-article{
            width: 1.75rem;
            height: 1.75rem;
            margin-right: 2rem;
            stroke: none;
            fill: currentColor;
        }
    }
}

////////////////////////////////////////
// SIDEBAR CONTAINER

.sidebar {
    &__header {
        padding-top: 2rem;

        display: flex;
        justify-content: space-around;
        &-logo {
            height: 3rem;
            &-sm {
                height: 3rem;
                display: none;
            }
        }

        &-icon {
            cursor: pointer;
            &-item{
                height: 2.25rem;
                width: 2.25rem;
                fill: none;
                stroke: $color-primary-green;
                stroke-width: 2px;

                &:hover {
                    stroke: lighten($color-primary-green, 5%);
                }
            }
        }
    }
}

////////////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: $color-gray-light-3;
    text-align: center;
    padding: 2.5rem;
}

////////////////////////////////////////
// SIDEBAR MODAL

.settings__modal {
    &-user{}
    
    &__sidebarSetting{
        display: flex;
        &-text{}
        &__checkbox{

            &-icon {
                cursor: pointer;
                height: 2.25rem;
                width: 2.25rem;
                fill: $color-gray-dark-1;
                stroke-width: 2px;

                &:hover {
                    fill: $color-primary-green;
                    //stroke-width: 1px;
                }
            }
        }
    }
}


////////////////////////////////////////
// FORM HEADER TITLE
.blogForm{
    display: flex;
    flex-direction: column;
}
.headerTitle {
    padding: 3rem 1.5rem;
    border: 1px solid black;
    font-family: "Lexend", sans-serif;
    &__title {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        &-title{
            flex: 1;
            align-self: center;
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            padding: 0 2.5rem;
        }

        &-input{
            font-size: 2rem;
            text-align: center;
            flex: 0 0 70%;
            background-color: $color-gray-light-3;
            border: none;
            padding: .7rem 2rem;
            margin-right: 15rem;
            border-radius: 100px;
            width: 80%;

            //Animacion de engrandecimiento no funcionando.
            transition: all .2s;

            &:focus {
                outline: none;
            //     width: 100%;
                background-color: darken($color-gray-light-3,4%);
            }
        }
    }

    &__imgPortada {
        display: flex;
        flex-direction: column;
        &-top {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            margin: 1.5rem 0;
        }

        &-title{
            flex: 1;
            align-self: center;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            padding: 0 2.5rem;
        }

        &-input{
            font-size: 2rem;
            text-align: center;
            flex: 0 0 70%;
            align-self: center;
            background-color: $color-gray-light-3;
            border: none;
            padding: .7rem 2rem;
            margin-right: 15rem;
            border-radius: 100px;
            width: 80%;

            //Animacion de engrandecimiento no funcionando.
            transition: all .2s;

            &:focus {
                outline: none;
                width: 100%;
                background-color: darken($color-gray-light-3,4%);
            }
        }
    }

    &__tags {
        display: flex;
        flex-direction: column;
    }
}

.tags {
    &__show {
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            margin: 2.5rem 2.5rem;
        }

        &__carrousel {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            &__item {
                background-color: $color-primary-blue;
                border-radius: 100px;
                padding: .3rem 2rem;
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
                color: #fff;
                position: relative;

                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &-delete {
                    background-color: red;
                    border-radius: 100px;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    
                    position: absolute;
                    top: -10px;
                    right: -15px;

                    & > * {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    &__add {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
            height: 3rem;
            width: 3rem;
            fill: $color-primary-green;
        }

        &__btn {
            padding: 0 2rem;
            cursor: pointer;

            &:hover {
                & > * {
                    fill: lighten($color-primary-green, 2%);
                }
            }
        }

        &__title {
            margin-right: 2rem;
        }

        &__input {
            font-size: 1.5rem;
            text-align: center;
            background-color: $color-gray-light-2;
            border: none;
            padding: 0;
            border-radius: 100px;

            &:focus {
                outline: none;
                background-color: darken($color-gray-light-2, 5%);
            }
        }
    }
}

.preview{
    &-off {
        display: none;
    }

    &-on {
        display: block;
        align-self: center;
    }
}

.imgPreview {
    height: 32rem;
    width: 48rem;
}

////////////////////////////////////////
// FOOTER BUTTONS
.footerButtons {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

    &__btn{
        padding: .5rem 1.5rem;
        margin: 0 5rem;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 100px;
        border: none;
        color: #fff;

        display: flex;  //Para ajustar altura tanto del icono como del texto
        align-items: center;
        
        &-save {
            background-color: lighten($color-primary-blue, 10%);
        }

        &-publish {
            background-color: $color-primary-green;
        }
    }

    &__save {
        &-icon {
            margin-right: 1rem;
        }
    }
    &__publish {
        &-icon {
            margin-right: 1rem;
        }
    }
}

////////////////////////////////////////
// EDITOR JS

.editorJS__container{
    background: #fff;
    padding: 7rem 1rem;
}

.editorJS {
    font-family: "Lexend", "Poppins", sans-serif;
    font-size: 1.5rem;
    & > :only-of-type h1, h2, h3, h4, h5, h6 {
        //font-size: 2.5rem;
        font-weight: 600;
    }
    min-height: 85rem;
    padding: 3rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.codex-editor {
    &__redactor {
        //padding-bottom: 10rem !important;
    }
}

.ce-block {
    &__content {
        //border-radius: 100px;
    }
}