.header {
    font-family: "Poppins", sans-serif;
    font-size: 1.86rem; //14pts = 18.66px
    font-weight: 300;
    min-height: 7rem;
    background-color: $color-gray-light-3;
    border-bottom: 1px solid #000;

    display: flex;
    align-items: center;

    //temporal fix!!!
    //flex-wrap: wrap;
}

.navbar-collapse {
    width: inherit;
    @media screen and (max-width: 768px) {
        border-top: 1px solid black;
    }

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }
}


.content {
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;

    &__main {
        flex: 1;
    }
}

.sidebar {
    background-color: $color-gray-dark-1;

    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: sticky;

    //transition: flex-basis .2s;

    //Animacion esconder sidebar
    &:not(:hover) {
        flex: 0 0 4%;
        
        & > :only-of-type span {
            display: none;
        }

        & > :only-of-type a {
            padding: 1.5rem 0;
            justify-content: center;
        }

        .side-nav {
            display: flex;
            flex-direction: column;

            &__icon {
                //display: flex;
                margin: 0;
            }
        }

        .icon-settings {
            display: none;
        }

        .legal{
            display: none;
        }

        .sidebar__header-logo {
            display: none;
            &-sm {
                display: block;
            }
        }
    }
}


//Editar blog
.blogContainer {
    background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
    min-height: 100vh;
    display: flex;
}

.contenedorPrincipal {
    margin: 2.5rem 3.5rem;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

//Blogs publicados

.blogBoxShadow {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.showBlog__contenido {
    position: relative;
}